use Mix.Config

config :ueberauth, Ueberauth.Strategy.Google.OAuth,
  client_id: "put your Google Client ID here",
  client_secret: "put your Google Client Secret here"

config :catcasts, youtube_api_key: "put your Youtube API key here"
